h1{
    color: red;
    font-size: 80px;
    text-align: center;
    padding-bottom: none;
    margin-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    margin: 0 auto;
    /*border: solid,red,2px;*/
}

.timer{
    color: red;
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}

.passage{
    text-align: center;
    border: white,solid,2px;
    color: white;
    font-size: 35pt;
    text-align: center;
    font-size: 20pt;
    width: 90%;
    margin: 0 auto;
}

.link{
    padding-bottom:5px ;
}

.triangle{
    display: inline-block;
    border-style: solid;
    border-width: 24px 14px 0 14px;
    border-color: white transparent transparent transparent; 
}

body{
    background-color: black;
    height: 100%;
    width: 100%;
}
